In [ ]:
import pandas as pd

qn: 1

In [ ]:
data=pd.read_csv('dataset1.csv')
data

    Gender Department  Age  Salary
0     Male      Sales   58   78033
1     Male         IT   48   53599
2   Female      Sales   34   65222
3     Male         IT   27   41837
4     Male      Sales   40   44039
..     ...        ...  ...     ...
95    Male         IT   47   54548
96    Male         HR   26   68623
97  Female         HR   28   37392
98    Male         HR   27   76717
99  Female         HR   31   51556

[100 rows x 4 columns]

In [ ]:
##contigency table and chi squared
'''genders = list(set(df['Gender']))
departments = list(set(df['Department']))

g = df['Gender'].tolist()
d = df['Department'].tolist()

# Contingency table
table = {}
for gender in genders:
    table[gender] = {}
    for dept in departments:
        table[gender][dept] = 0

for i in range(len(g)):
    table[g[i]][d[i]] += 1

# Row totals
row_totals = {gender: sum(table[gender].values()) for gender in genders}

# Column totals
col_totals = {}
for dept in departments:
    col_totals[dept] = sum(table[gender][dept] for gender in genders)

# Grand total
grand_total = sum(row_totals.values())

# Expected frequencies
expected = {}
for gender in genders:
    expected[gender] = {}
    for dept in departments:
        expected[gender][dept] = (
            row_totals[gender] * col_totals[dept]
        ) / grand_total

# Chi-square
chi_square = 0
for gender in genders:
    for dept in departments:
        o = table[gender][dept]
        e = expected[gender][dept]
        chi_square += ((o - e) ** 2) / e

print("\nContingency Table:", table)
print("\nExpected Frequencies:", expected)
print("\nChi-square value:", chi_square)
'''

In [ ]:
contingency_table=[]
genders=list(data['Gender'].unique())
departments=list(data['Department'].unique())
print(genders)
print(departments)

['Male', 'Female']
['Sales', 'IT', 'HR']

In [ ]:
contingency_table = pd.crosstab(data['Gender'], data['Department'],margins=True)
print(contingency_table)

Department  HR  IT  Sales  All
Gender
Female      16  17     11   44
Male        21  21     14   56
All         37  38     25  100

In [ ]:
print(type(contingency_table))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
expected_frequencies=contingency_table.copy()
total=contingency_table.loc['All']['All']
ex_i=contingency_table.index
ex_c=contingency_table.columns
for i in ex_i:
  for j in ex_c:#Your loop also calculates expected values for:the "All" row the "All" column
      expected_frequencies.loc[i,j]=(contingency_table.loc[i]['All']*contingency_table.loc['All'][j])/total

/tmp/ipython-input-2498773401.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '16.28' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_frequencies.loc[i,j]=(contingency_table.loc[i]['All']*contingency_table.loc['All'][j])/total
/tmp/ipython-input-2498773401.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '16.72' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_frequencies.loc[i,j]=(contingency_table.loc[i]['All']*contingency_table.loc['All'][j])/total

In [ ]:
'''for i in ex_i[:-1]:  # skip 'All'
    for j in ex_c[:-1]:  # skip 'All'
        expected_frequencies.loc[i,j] = (
            contingency_table.loc[i,'All'] *
            contingency_table.loc['All',j]
        ) / total
'''#check this it excludes last column

In [ ]:
expected_frequencies = expected_frequencies.drop('All', axis=1)
expected_frequencies = expected_frequencies.drop('All', axis=0)
expected_frequencies

Department     HR     IT  Sales
Gender
Female      16.28  16.72     11
Male        20.72  21.28     14

In [ ]:
chi_square=0

In [ ]:
for i in expected_frequencies.index:
  for j in expected_frequencies.columns:
    chi_square+=((contingency_table.loc[i][j]-expected_frequencies.loc[i][j])**2/(expected_frequencies.loc[i][j]))

In [ ]:
print("chi square value: ",chi_square)

chi square value:  0.01697271434113553

In [ ]:
from scipy.stats import chi2
df = (2-1)*(2-1)
alpha = 0.05
critical_value = chi2.ppf(1 - alpha, df)
print(critical_value)
if chi_square > critical_value:
    print("Since the calculated Chi-square value is greater than the critical value, we reject the null hypothesis.")
    print("This suggests there is a statistically significant association between Gender and Department.")
else:
    print("Since the calculated Chi-square value is less than or equal to the critical value, we fail to reject the null hypothesis.")
    print("This suggests there is no statistically significant association between Gender and Department.")

3.841458820694124
Since the calculated Chi-square value is less than or equal to the critical value, we fail to reject the null hypothesis.
This suggests there is no statistically significant association between Gender and Department.

In [ ]:
age=list(data['Age'])
salary=list(data['Salary'])
print(age,salary)

[58, 48, 34, 27, 40, 58, 38, 42, 30, 30, 43, 55, 59, 43, 22, 41, 21, 43, 49, 57, 21, 40, 52, 31, 41, 44, 46, 47, 35, 34, 22, 56, 26, 40, 28, 58, 37, 23, 44, 33, 28, 45, 21, 39, 47, 26, 27, 54, 33, 36, 55, 59, 23, 21, 25, 23, 48, 37, 45, 53, 29, 55, 33, 50, 34, 27, 33, 42, 59, 40, 35, 37, 43, 45, 44, 60, 48, 34, 20, 44, 26, 28, 43, 20, 27, 43, 30, 36, 27, 54, 54, 52, 24, 58, 60, 47, 26, 28, 27, 31] [78033, 53599, 65222, 41837, 44039, 60818, 49115, 40965, 54538, 72530, 35056, 62482, 77716, 38110, 43773, 57266, 47412, 63270, 36910, 75453, 55446, 30206, 51518, 52361, 53419, 78702, 71523, 75151, 52403, 48141, 44820, 70342, 36374, 31678, 63827, 46198, 39914, 57890, 52299, 73585, 73689, 72557, 79080, 74020, 32693, 59467, 59723, 76699, 33627, 55939, 78925, 72941, 51834, 48047, 56105, 40230, 45707, 51976, 74262, 53776, 60080, 31306, 36776, 57251, 39474, 70294, 51959, 35530, 59320, 33748, 61968, 62562, 43545, 30663, 64766, 37994, 58021, 60303, 33304, 76576, 69353, 47675, 74417, 53938, 53664, 31636, 50080, 57728, 79850, 56736, 58673, 67505, 77323, 76645, 30854, 54548, 68623, 37392, 76717, 51556]

In [ ]:
import numpy as np
age_mean=np.mean(age)
age_std=np.std(age)
salary_mean=np.mean(salary)
salary_std=np.std(salary)

In [ ]:
corr=0
for i in range(len(age)):
  corr+=( (salary[i]-salary_mean) * (age[i]-age_mean) )
corr = corr / (len(age)*age_std*salary_std)
print(corr)

0.09816955593613784

qn: 2

In [ ]:
salary_min_max=salary.copy()
min_salary=min(salary)
max_salary=max(salary)
for i in range(len(salary)):
  salary_min_max[i]=(salary[i]-min_salary)/(max_salary-min_salary)

In [ ]:
salary_min_max

[0.9633994037547337,
 0.47121505116428974,
 0.7053420352912738,
 0.23428813149625333,
 0.2786439448875997,
 0.6166304085085811,
 0.380891950688905,
 0.2167230682459109,
 0.4901297236322617,
 0.8525501571186851,
 0.09769559261945049,
 0.650149061316574,
 0.9570139392474418,
 0.15921360083796632,
 0.2732857948593989,
 0.5450809765530578,
 0.3465877044557248,
 0.6660220771895898,
 0.1350414954475868,
 0.9114293771654177,
 0.5084199500443155,
 0.0,
 0.42929659173313994,
 0.44627749576988157,
 0.4675892353557328,
 0.9768753525098702,
 0.8322657320119249,
 0.9053460639755057,
 0.44712351945854484,
 0.3612722584803803,
 0.29437595681250506,
 0.8084763516235598,
 0.12424462170655064,
 0.02965111594553219,
 0.6772419627749577,
 0.32213359116912416,
 0.19555233260817018,
 0.5576504713560552,
 0.4450286036580453,
 0.8738014664410604,
 0.8758963822415599,
 0.8530940294899686,
 0.9844895657078399,
 0.8825638546450729,
 0.050096688421561515,
 0.5894166465232455,
 0.5945733623398598,
 0.9365280799290951,
 0.06891064378374023,
 0.5183506566755298,
 0.9813673354282492,
 0.86082910321489,
 0.43566191281927324,
 0.35937877689146724,
 0.5216944645878656,
 0.20191765369430345,
 0.3122431713802272,
 0.43852227862380144,
 0.8874385625654662,
 0.4747804367093707,
 0.6017645636934977,
 0.022157763274514544,
 0.13234227701232779,
 0.544778825235678,
 0.18668922729836435,
 0.8075094674079446,
 0.4381798404641044,
 0.10724357424865039,
 0.5864555636129241,
 0.07134799774393683,
 0.6397953428410281,
 0.651760535009266,
 0.2686930948352268,
 0.00920554346950286,
 0.6961566352429297,
 0.15687696398356296,
 0.5602892595278383,
 0.6062565466118766,
 0.06240431874949642,
 0.9340504391265813,
 0.7885545080976553,
 0.3518854242204496,
 0.8905607928450568,
 0.47804367093707195,
 0.47252437353960197,
 0.028805092256868906,
 0.40033035210700185,
 0.5543872371283539,
 1.0,
 0.5344049633389735,
 0.5734227701232777,
 0.7513294657964709,
 0.9490975747320926,
 0.935440335186528,
 0.01305293691080493,
 0.4903311578438482,
 0.7738498106518411,
 0.1447506244460559,
 0.9368906615099508,
 0.43006204173716867]

In [ ]:
salary_z_score=salary.copy()
for i in range(len(salary)):
  salary_z_score[i]=(salary[i]-salary_mean)/(salary_std)

In [ ]:
salary_z_score

[np.float64(-1.7359346787876027),
 np.float64(-1.7046398083834893),
 np.float64(-1.6915603330067155),
 np.float64(-1.6606078572459733),
 np.float64(-1.6380098107834846),
 np.float64(-1.6351336957791678),
 np.float64(-1.5656275831748463),
 np.float64(-1.523786957754905),
 np.float64(-1.5016682637931356),
 np.float64(-1.4933823134235564),
 np.float64(-1.4038118747176918),
 np.float64(-1.371352862526117),
 np.float64(-1.3135566467250852),
 np.float64(-1.2860281173980534),
 np.float64(-1.2768519409557095),
 np.float64(-1.243845097334741),
 np.float64(-1.2026207822728676),
 np.float64(-1.1946772265466594),
 np.float64(-1.1012719678350391),
 np.float64(-1.0711412392183874),
 np.float64(-1.0495018977573376),
 np.float64(-0.9991698851817944),
 np.float64(-0.9394562593778847),
 np.float64(-0.8224942492023367),
 np.float64(-0.8068810534646171),
 np.float64(-0.7886656584372778),
 np.float64(-0.735183615142721),
 np.float64(-0.6744428054086982),
 np.float64(-0.6408196514296618),
 np.float64(-0.5576862320191728),
 np.float64(-0.539676273777856),
 np.float64(-0.5142021123110505),
 np.float64(-0.5077650930156749),
 np.float64(-0.4410666164869959),
 np.float64(-0.3749844503163848),
 np.float64(-0.2765117508828731),
 np.float64(-0.2739095515932532),
 np.float64(-0.25487240942182326),
 np.float64(-0.24631254333754718),
 np.float64(-0.24514840155008566),
 np.float64(-0.22302970758831633),
 np.float64(-0.21878401401051542),
 np.float64(-0.21590789900619867),
 np.float64(-0.14633330747320292),
 np.float64(-0.1340071003118454),
 np.float64(-0.12955596994802185),
 np.float64(-0.12188632993651052),
 np.float64(-0.11079274349128876),
 np.float64(-0.06970538628676372),
 np.float64(-0.06902059700002164),
 np.float64(-0.007526519050582485),
 np.float64(0.02623359278580226),
 np.float64(0.03760109494572085),
 np.float64(0.08081129893914636),
 np.float64(0.11607794720636369),
 np.float64(0.11710513113647682),
 np.float64(0.1487423961839611),
 np.float64(0.15983598262918286),
 np.float64(0.16880672228550417),
 np.float64(0.21345498378108804),
 np.float64(0.2577608506333009),
 np.float64(0.2678272531484095),
 np.float64(0.2853578588890069),
 np.float64(0.3098048364256993),
 np.float64(0.32507563752004776),
 np.float64(0.36034228578726507),
 np.float64(0.4390930537626047),
 np.float64(0.47429122310114785),
 np.float64(0.47976953739508454),
 np.float64(0.528252618896424),
 np.float64(0.5663953821679582),
 np.float64(0.6306970961930398),
 np.float64(0.6619234876684789),
 np.float64(0.8182608818316967),
 np.float64(0.8948203240894617),
 np.float64(0.9448099420216338),
 np.float64(1.009248613904064),
 np.float64(1.012535602480426),
 np.float64(1.093409217244666),
 np.float64(1.162367498419594),
 np.float64(1.1642164294937976),
 np.float64(1.1905123381046936),
 np.float64(1.2346127681708838),
 np.float64(1.2417345767530015),
 np.float64(1.2644011021441643),
 np.float64(1.2809730028833228),
 np.float64(1.2915872368278252),
 np.float64(1.341850770474694),
 np.float64(1.362531406934305),
 np.float64(1.4394332438354411),
 np.float64(1.4441582899139616),
 np.float64(1.4478561520623687),
 np.float64(1.4490887727785045),
 np.float64(1.4905870035550748),
 np.float64(1.5174992225240387),
 np.float64(1.5392070429137628),
 np.float64(1.5850194461968081),
 np.float64(1.6002902472911567),
 np.float64(1.610904481235659),
 np.float64(1.6636332563147995)]

QN3

In [ ]:
transactions=[['I1', 'I2', 'I5'],['I2', 'I4'],['I2', 'I3'],['I1', 'I2', 'I4'],['I1', 'I3'],['I2', 'I3'],['I1', 'I3'],['I1', 'I2', 'I3', 'I5'],['I1', 'I2', 'I3']]

n=len(transactions)
min_sup=2
min_conf=0.2
unique_items = set()
for transaction in transactions:
    for item in transaction:
        unique_items.add(item)
unique_items=sorted(list(unique_items))
print("Unique items in transactions:", unique_items)

Unique items in transactions: ['I1', 'I2', 'I3', 'I4', 'I5']

In [ ]:
'''import random

random.seed(42)

transactions = []

for _ in range(num_transactions):

    # random number of items per transaction (1 to 4)
    k = random.randint(1, 4)

    # randomly select k unique items
    transaction = random.sample(items, k)

    transactions.append(transaction)

print(transactions)'''

Apriori

In [ ]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

def apriori_freq_sets(transactions,unique_items,min_sup):
  freq_set=dict()
  iter=len(unique_items)
  print("unique items: ",unique_items)
  for i in range(iter):
    sets=[]
    if(i==0):
      for j in range(len(unique_items)):
        key=[]
        key.append(unique_items[j])
        sets.append(tuple(key))
    else:
      for j in range(len(unique_items)-i):
          for k in range(j+i,len(unique_items)):
              key=unique_items[j:j+i]
              key.append(unique_items[k])
              for d in deleted:
                if(set(d).issubset(set(key))):
                  continue
              sets.append(tuple(key))
    print(f'{i+1} set')
    print("sets: ",sets)
    support = {key: 0 for key in sets}
    for key,value in support.items():
      for transaction in transactions:
          if(set(key).issubset(set(transaction))):
              support[key]+=1
    deleted=[]
    for key in sets:
      if(support[key]<min_sup):
        deleted.append(key)
        support.pop(key)
    print("support: ",support)
    print("deleted: ",deleted)
    freq_set={**freq_set, **support}
  return freq_set

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [ ]:
freq_set=apriori_freq_sets(transactions,unique_items,min_sup)

unique items:  ['I1', 'I2', 'I3', 'I4', 'I5']
1 set
sets:  [('I1',), ('I2',), ('I3',), ('I4',), ('I5',)]
support:  {('I1',): 6, ('I2',): 7, ('I3',): 6, ('I4',): 2, ('I5',): 2}
deleted:  []
2 set
sets:  [('I1', 'I2'), ('I1', 'I3'), ('I1', 'I4'), ('I1', 'I5'), ('I2', 'I3'), ('I2', 'I4'), ('I2', 'I5'), ('I3', 'I4'), ('I3', 'I5'), ('I4', 'I5')]
support:  {('I1', 'I2'): 4, ('I1', 'I3'): 4, ('I1', 'I5'): 2, ('I2', 'I3'): 4, ('I2', 'I4'): 2, ('I2', 'I5'): 2}
deleted:  [('I1', 'I4'), ('I3', 'I4'), ('I3', 'I5'), ('I4', 'I5')]
3 set
sets:  [('I1', 'I2', 'I3'), ('I1', 'I2', 'I4'), ('I1', 'I2', 'I5'), ('I2', 'I3', 'I4'), ('I2', 'I3', 'I5'), ('I3', 'I4', 'I5')]
support:  {('I1', 'I2', 'I3'): 2, ('I1', 'I2', 'I5'): 2}
deleted:  [('I1', 'I2', 'I4'), ('I2', 'I3', 'I4'), ('I2', 'I3', 'I5'), ('I3', 'I4', 'I5')]
4 set
sets:  [('I1', 'I2', 'I3', 'I4'), ('I1', 'I2', 'I3', 'I5'), ('I2', 'I3', 'I4', 'I5')]
support:  {}
deleted:  [('I1', 'I2', 'I3', 'I4'), ('I1', 'I2', 'I3', 'I5'), ('I2', 'I3', 'I4', 'I5')]
5 set
sets:  [('I1', 'I2', 'I3', 'I4', 'I5')]
support:  {}
deleted:  [('I1', 'I2', 'I3', 'I4', 'I5')]

In [ ]:
#print("FP-Growth Frequent Itemsets")
for itemset, support in freq_set.items():
    print(f"Itemset: {set(itemset)}, Support: {support}")

FP-Growth Frequent Itemsets
Itemset: {'I1'}, Support: 6
Itemset: {'I2'}, Support: 7
Itemset: {'I3'}, Support: 6
Itemset: {'I4'}, Support: 2
Itemset: {'I5'}, Support: 2
Itemset: {'I2', 'I1'}, Support: 4
Itemset: {'I3', 'I1'}, Support: 4
Itemset: {'I5', 'I1'}, Support: 2
Itemset: {'I3', 'I2'}, Support: 4
Itemset: {'I2', 'I4'}, Support: 2
Itemset: {'I5', 'I2'}, Support: 2
Itemset: {'I3', 'I2', 'I1'}, Support: 2
Itemset: {'I5', 'I2', 'I1'}, Support: 2

In [ ]:
from itertools import combinations
def association_rules(freq_set, transactions, min_conf):
    rules = []
    n = len(transactions)
    print("Association Rules")
    for k, itemsets in freq_set.items():
        for itemset, support_count in itemsets.items():
            if len(itemset) > 1:
                for i in range(1, len(itemset)):
                    for antecedent in combinations(itemset, i):
                        consequent = tuple(set(itemset) - set(antecedent))
                        support_itemset = support_count / n
                        support_antecedent = sum(1 for t in transactions if set(antecedent).issubset(t)) / n
                        support_consequent = sum(1 for t in transactions if set(consequent).issubset(t)) / n
                        confidence = support_itemset / support_antecedent if support_antecedent > 0 else 0
                        if confidence >= min_conf:
                            lift = confidence / support_consequent if support_consequent > 0 else 0
                            correlation = "Positively correlated" if lift > 1 else "Negatively correlated"
                            print(f"Rule: {antecedent} -> {consequent}, "
                                  f"Confidence: {confidence:.2f}, "
                                  f"Lift: {lift:.2f} ({correlation})")

In [ ]:
association_rules(freq_set, transactions, min_conf)

Association Rules
Rule: ('I1',) -> ('I2',), Confidence: 0.67, Lift: 0.86 (Negatively correlated)
Rule: ('I2',) -> ('I1',), Confidence: 0.57, Lift: 0.86 (Negatively correlated)
Rule: ('I1',) -> ('I3',), Confidence: 0.67, Lift: 1.00 (Negatively correlated)
Rule: ('I3',) -> ('I1',), Confidence: 0.67, Lift: 1.00 (Negatively correlated)
Rule: ('I1',) -> ('I5',), Confidence: 0.33, Lift: 1.50 (Positively correlated)
Rule: ('I5',) -> ('I1',), Confidence: 1.00, Lift: 1.50 (Positively correlated)
Rule: ('I2',) -> ('I3',), Confidence: 0.57, Lift: 0.86 (Negatively correlated)
Rule: ('I3',) -> ('I2',), Confidence: 0.67, Lift: 0.86 (Negatively correlated)
Rule: ('I2',) -> ('I4',), Confidence: 0.29, Lift: 1.29 (Positively correlated)
Rule: ('I4',) -> ('I2',), Confidence: 1.00, Lift: 1.29 (Positively correlated)
Rule: ('I2',) -> ('I5',), Confidence: 0.29, Lift: 1.29 (Positively correlated)
Rule: ('I5',) -> ('I2',), Confidence: 1.00, Lift: 1.29 (Positively correlated)
Rule: ('I1',) -> ('I3', 'I2'), Confidence: 0.33, Lift: 0.75 (Negatively correlated)
Rule: ('I2',) -> ('I3', 'I1'), Confidence: 0.29, Lift: 0.64 (Negatively correlated)
Rule: ('I3',) -> ('I2', 'I1'), Confidence: 0.33, Lift: 0.75 (Negatively correlated)
Rule: ('I1', 'I2') -> ('I3',), Confidence: 0.50, Lift: 0.75 (Negatively correlated)
Rule: ('I1', 'I3') -> ('I2',), Confidence: 0.50, Lift: 0.64 (Negatively correlated)
Rule: ('I2', 'I3') -> ('I1',), Confidence: 0.50, Lift: 0.75 (Negatively correlated)
Rule: ('I1',) -> ('I5', 'I2'), Confidence: 0.33, Lift: 1.50 (Positively correlated)
Rule: ('I2',) -> ('I5', 'I1'), Confidence: 0.29, Lift: 1.29 (Positively correlated)
Rule: ('I5',) -> ('I2', 'I1'), Confidence: 1.00, Lift: 2.25 (Positively correlated)
Rule: ('I1', 'I2') -> ('I5',), Confidence: 0.50, Lift: 2.25 (Positively correlated)
Rule: ('I1', 'I5') -> ('I2',), Confidence: 1.00, Lift: 1.29 (Positively correlated)
Rule: ('I2', 'I5') -> ('I1',), Confidence: 1.00, Lift: 1.50 (Positively correlated)

FP Growth

In [ ]:
item_freq_table={}
for item in unique_items:
  item_freq_table[item] = sum(1 for t in transactions if item in t)
item_freq_table = {item: count for item, count in item_freq_table.items() if count >= min_sup}
print(item_freq_table)

{'I1': 6, 'I2': 7, 'I3': 6, 'I4': 2, 'I5': 2}

In [ ]:
sorted_item_freq_table = dict(sorted(item_freq_table.items(), key=lambda item: item[1], reverse=True))
print(sorted_item_freq_table)

{'I2': 7, 'I1': 6, 'I3': 6, 'I4': 2, 'I5': 2}

In [ ]:
# def print_tree(root, prefix=""):
#     """Recursively prints an n-ary tree with ASCII branches."""
#     if root is None:
#         return

#     # Print current node
#     print(prefix + str(root.item))

#     # Prepare prefix for children
#     child_prefix = prefix + "â”‚   "
#     last_prefix = prefix + "    "

#     # Iterate over children
#     for i, child in root.children.items():
#         is_last = (i == len(root.children) - 1)
#         branch = "â””â”€â”€ " if is_last else "â”œâ”€â”€ "
#         new_prefix = last_prefix if is_last else child_prefix
#         print(new_prefix[:-4] + branch + str(child.item))
#         # Recurse with adjusted prefix
#         print_tree(child, new_prefix)

Based on Book algorithm

In [ ]:
from collections import defaultdict, namedtuple

class FPNode:
    def __init__(self, item, count, parent):
        self.item = item
        self.count = count
        self.parent = parent
        self.children = {}
        self.link = None

def build_fp_tree(transactions, min_sup):
    item_counts = defaultdict(int)
    for transaction in transactions:
        for item in transaction:
            item_counts[item] += 1

    item_counts = {item: count for item, count in item_counts.items() if count >= min_sup}
    if not item_counts:
        return None, None

    header_table = {item: [count, None] for item, count in item_counts.items()}
    root = FPNode(None, 1, None)

    for transaction in transactions:
        ordered_items = [item for item in sorted(transaction, key=lambda x: item_counts.get(x, 0), reverse=True) if item in item_counts]
        current_node = root
        for item in ordered_items:
            if item in current_node.children:
                current_node.children[item].count += 1
            else:
                new_node = FPNode(item, 1, current_node)
                current_node.children[item] = new_node
                if header_table[item][1] is None:
                    header_table[item][1] = new_node
                else:
                    node = header_table[item][1]
                    while node.link:
                        node = node.link
                    node.link = new_node
            current_node = current_node.children[item]
    return root, header_table

def ascend_fp_tree(node):
    path = []
    while node and node.parent and node.parent.item is not None:
        node = node.parent
        path.append(node.item)
    return path

def find_prefix_paths(base_pat, node):
    cond_pats = {}
    while node:
        path = ascend_fp_tree(node)
        if path:
            cond_pats[frozenset(path)] = node.count
        node = node.link
    return cond_pats

def mine_fp_tree(root,header_table, min_sup, prefix, freq_itemsets):
    sorted_items = [item for item, counts in sorted(header_table.items(), key=lambda p: p[1][0])]
    for base_pat in sorted_items:
        new_freq_set = prefix.copy()
        new_freq_set.add(base_pat)
        freq_itemsets.append((new_freq_set, header_table[base_pat][0]))
        cond_pats = find_prefix_paths(base_pat, header_table[base_pat][1])
        cond_tree, cond_header = build_fp_tree([[item for item in pat] * count for pat, count in cond_pats.items()], min_sup)
        if cond_header:
            mine_fp_tree(cond_tree,cond_header, min_sup, new_freq_set, freq_itemsets)

root, header_table = build_fp_tree(transactions, min_sup)
freq_itemsets_fp = []
if header_table:
    mine_fp_tree(root,header_table, min_sup, set(), freq_itemsets_fp)

print("FP-Growth Frequent Itemsets")
for itemset, support in freq_itemsets_fp:
    print(f"Itemset: {set(itemset)}, Support: {support}")

FP-Growth Frequent Itemsets
Itemset: {'I5'}, Support: 2
Itemset: {'I5', 'I2'}, Support: 2
Itemset: {'I5', 'I1'}, Support: 2
Itemset: {'I4'}, Support: 2
Itemset: {'I2', 'I4'}, Support: 2
Itemset: {'I1'}, Support: 6
Itemset: {'I2', 'I1'}, Support: 4
Itemset: {'I3'}, Support: 6
Itemset: {'I3', 'I2'}, Support: 4
Itemset: {'I3', 'I2'}, Support: 2
Itemset: {'I3', 'I1'}, Support: 4
Itemset: {'I3', 'I1'}, Support: 2
Itemset: {'I3', 'I1', 'I2'}, Support: 2
Itemset: {'I2'}, Support: 7

based on sir's class and my understanding. answer is same but method may not be correct

In [ ]:
from collections import defaultdict, namedtuple

class FPNode:
    def __init__(self, item, count, parent):
        self.item = item
        self.count = count
        self.parent = parent
        self.children = {}
        self.link = None

def build_fp_tree(transactions, min_sup):
    item_counts = defaultdict(int)
    for transaction in transactions:
        for item in transaction:
            item_counts[item] += 1

    item_counts = {item: count for item, count in item_counts.items() if count >= min_sup}
    if not item_counts:
        return None, None

    header_table = {item: [count, None] for item, count in item_counts.items()}
    root = FPNode(None, 1, None)

    for transaction in transactions:
        ordered_items = [item for item in sorted(transaction, key=lambda x: item_counts.get(x, 0), reverse=True) if item in item_counts]
        current_node = root
        for item in ordered_items:
            if item in current_node.children:
                current_node.children[item].count += 1
            else:
                new_node = FPNode(item, 1, current_node)
                current_node.children[item] = new_node
                if header_table[item][1] is None:
                    header_table[item][1] = new_node
                else:
                    node = header_table[item][1]
                    while node.link:
                        node = node.link
                    node.link = new_node
            current_node = current_node.children[item]
    return root, header_table
def ascend_fp_tree(node):
    path = []
    while node and node.parent and node.parent.item is not None:
        node = node.parent
        path.append(node.item)
    return path

def find_prefix_paths(base_pat, node):
    cond_pats = {}
    while node:
        path = ascend_fp_tree(node)
        if path:
            cond_pats[frozenset(path)] = node.count
        node = node.link
    return cond_pats
def mine_fp_tree(root, header_table, min_sup):
      sorted_items = [item for item, counts in sorted(header_table.items(), key=lambda p: p[1][0])]
      freq_item_sets={}
      for base_pat in sorted_items:
          key=[]
          key.append(base_pat)
          freq_item_sets[tuple(key)]=header_table[base_pat][0]
          cond_pats = find_prefix_paths(base_pat, header_table[base_pat][1])
          k=0
          for path,count in cond_pats.items():
            k+=1
            path=list(path)
            for i in range(len(path)):
              for j in range(len(path)-i):
                key1=key.copy()
                key1.extend(path[j:j+i+1])
                if(tuple(key1) in list(freq_item_sets.keys())):
                  freq_item_sets[tuple(key1)]+=count
                else:
                  freq_item_sets[tuple(key1)]=count
                if(k==len(cond_pats)):
                    if(freq_item_sets[tuple(key1)]<min_sup):
                      freq_item_sets.pop(tuple(key1))
      return freq_item_sets

In [ ]:
min_sup=2
min_conf=0.2
root, header_table = build_fp_tree(transactions, min_sup)
freq_itemsets_fp = []
if header_table:
  freq_item_sets=mine_fp_tree(root,header_table, min_sup)

print("FP-Growth Frequent Itemsets")
for itemset, support in freq_item_sets.items():
    print(f"Itemset: {set(itemset)}, Support: {support}")

FP-Growth Frequent Itemsets
Itemset: {'I5'}, Support: 2
Itemset: {'I5', 'I2'}, Support: 2
Itemset: {'I5', 'I1'}, Support: 2
Itemset: {'I5', 'I2', 'I1'}, Support: 1
Itemset: {'I4'}, Support: 2
Itemset: {'I2', 'I4'}, Support: 2
Itemset: {'I1'}, Support: 6
Itemset: {'I2', 'I1'}, Support: 4
Itemset: {'I3'}, Support: 6
Itemset: {'I3', 'I2'}, Support: 4
Itemset: {'I3', 'I1'}, Support: 4
Itemset: {'I3', 'I1', 'I2'}, Support: 2
Itemset: {'I2'}, Support: 7

qn: 5

In [ ]:
import pandas as pd
data=pd.DataFrame()
data['items']=transactions
data['Tid']=[f'T{i+1}' for i in range(len(data))]
data

              items Tid
0      [I1, I2, I5]  T1
1          [I2, I4]  T2
2          [I2, I3]  T3
3      [I1, I2, I4]  T4
4          [I1, I3]  T5
5          [I2, I3]  T6
6          [I1, I3]  T7
7  [I1, I2, I3, I5]  T8
8      [I1, I2, I3]  T9

In [ ]:
tran={item: [] for item in unique_items}
for i in range(len(transactions)):
  t=transactions[i]
  for item in t:
    tran[item].append(data['Tid'].values[i])

In [ ]:
data1=pd.DataFrame()
data1['itemID']=list(tran.keys())
data1['transaction']=list(tran.values())
data1

  itemID                   transaction
0     I1      [T1, T4, T5, T7, T8, T9]
1     I2  [T1, T2, T3, T4, T6, T8, T9]
2     I3      [T3, T5, T6, T7, T8, T9]
3     I4                      [T2, T4]
4     I5                      [T1, T8]

qn: 4

In [ ]:
def get_closed_itemsets(frequent_itemsets):
    closed_sets = []
    for itemset, support in frequent_itemsets.items():
        is_closed = True
        for itemset2, support2 in frequent_itemsets.items():
            if itemset!=itemset2 and set(itemset).issubset(itemset2) and support == support2:
                is_closed = False
                break
        if is_closed:
            closed_sets.append((itemset, support))
    return closed_sets

In [ ]:
closed_itemsets=get_closed_itemsets(freq_set)
print("Closed Frequent Itemsets:", closed_itemsets)

Closed Frequent Itemsets: [(('I1',), 6), (('I2',), 7), (('I3',), 6), (('I1', 'I2'), 4), (('I1', 'I3'), 4), (('I2', 'I3'), 4), (('I2', 'I4'), 2), (('I1', 'I2', 'I3'), 2), (('I1', 'I2', 'I5'), 2)]

In [ ]:
def get_maximal_itemsets(frequent_itemsets):
    maximal_sets = []
    for itemset, support in frequent_itemsets.items():
        is_maximal = True
        for itemset2, support2 in frequent_itemsets.items():
            if itemset!=itemset2 and set(itemset).issubset(itemset2):
                is_maximal = False
                break
        if is_maximal:
            maximal_sets.append((itemset, support))
    return maximal_sets

In [ ]:
maximal_itemsets = get_maximal_itemsets(freq_set)
print("Maximal Frequent Itemsets:", maximal_itemsets)

Maximal Frequent Itemsets: [(('I2', 'I4'), 2), (('I1', 'I2', 'I3'), 2), (('I1', 'I2', 'I5'), 2)]